/*Estilos del Perfil*/

.profile-view {
    background-image: url("../assets/images/sith.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    margin-top: 0%;
    max-width: 1349px;
    width: 100vw;
    height: 65vh;
}

@media (max-width: 768px) {
    .profile-view {
        background-size: cover;
        height: 30vh;
    }
    .profile-picture>.userimage {
        width: 10vw;
        height: 6vh;
        margin-top: 5vh;
    }
    .profile-picture>h2 {
        font-size: 5%;
        margin-top: -5%;
    }
}

.profile-picture {
    text-align: center;
    color: white;
}

.userimage {
    border-radius: 50%;
    margin-top: 10vh;
    width: 8vw;
    height: 16vh;
}

.waves-light {
    float: right;
    margin-top: -3%;
}

@media(max-width: 768px) {
    .waves-light {
        margin-top: -30%;
    }
}


/*Estilos de Tabs*/

#test1>.row>.description {
    width: 30vw;
    height: 50vh;
    padding: 20px;
    margin-left: 3vh;
    margin-top: 3vw;
    border: 1px solid rgb(234, 86, 76);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .description {
        display: none;
    }
}

.social {
    display: inline-block;
    margin: 7px;
    width: 10%;
    padding: 7px;
    text-align: center;
    border-radius: 100%;
}

.sns {
    color: white;
}

#test2>.row>.col>.row {
    margin-top: 3%;
    margin-left: 7%;
}

@media (max-width: 768px) {
    #test2>.row>.col>.row>.input-field>img {
        width: 10vw;
        height: 6vh;
        margin-top: 2vh;
    }
    #test2>.row>.col>.row>.input-field {
        margin-bottom: 20vh;
    }
}

.card-image>.btn-floating {
    text-align: center;
}

.collections>.col>h4 {
    margin-top: 5vh;
}


/*Estilo footer*/

.page-footer {
    padding: 10px;
}